.hide {
    display: none;
}
/* adjusting the react-icon height/width for better UI */
.icon{
    height: 30px;
    width: 30px;
}
.alert{
    z-index: 5;
    max-width: max-content;
    padding: 1.5rem 1rem ;
    position: absolute;
    top: 110%;
    color: black;
    background-color: #fafafa;
    right: 2%;
    box-shadow: 0px 0px 10px 0px #121212;
    /* border: 2px solid pink; */
}
.show{
    display: unset;
}
.dflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .4em;
}

.alert::after{
    content: "";
    position: absolute;
    top:100%;   
    left: 0;
    height: 4px;
    animation-name: bottomStrip;
    animation-duration: 2.2s;
    animation-timing-function: ease-in;
}
.success::after{
    background-color: rgb(0, 180, 0);
}
.error::after{
    background-color: red;
}

@keyframes bottomStrip {
    from{
        width: 100%;
    } 
    to {
        width: 0%;
    }
}

/* .success{

} */