*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  width: 100%;
  /* padding: 1.5em 1em; */
  height: 8vh;
  font-size: 1.1em;
  background-color: #121212;
  color: #fff;
 
}

main{
  background-color: rgb(228, 228, 228);
  min-height: 80vh;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .5em;
  font-size: 1.1em;
  align-items: center;
  flex-wrap: wrap;
  background-color: #121212;
  color: #fff;
  height: 12vh;
}