
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  font-size: 1.1em;
  background-color: #121212;
  color: #fff;
  padding: 0 .7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 8px 10px -6px gray;
  position: relative;
}

.sideBar{
  display: none;
  width: 100vw;
  background-color: #12121257;
  position: absolute;
  top:100%;
  left: 0;
  height: 100vh;
  z-index: 2;
}
.menu{
  display: inherit;
  font-size: 1.3em;
}
nav{
  display: none;
  gap: .5em;
}
.active{
  display: flex;
  gap: 2em;
  padding: 3rem .8rem;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  position: absolute;
  top: 100%;
  right: 0;
  width: 70%;
  box-shadow: 0px 0px 10px 0px black;
  border-radius: .3em;
}
/* ALL LINKS */
.link{
  text-decoration: none;
  color: inherit;
}
/* NAVBAR link */
.nav-link{
  font-weight: 300;
  position: relative;

}
.nav-link:not(.logo):before{
  content: "";
  width: 0;
  height: 3px;
  border-radius: 1em;
  position: absolute;
  top:115%;
  background-color: orange;
  transition: .4s;
}
.link:hover::before,
.link:active::before,
.link:focus::before{
  color: #cecdcd;
  width: 70%;
}
.btn{
  background-color: #fff;
  color: #121212;
  padding: .1em .2em;
  border-radius: 6px;
}
.logo{
  display: flex;
  align-items: center;
  gap: .3em;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
  min-height: 85vh;
}

/* FOOTER */
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8em;
  align-items: center;
  flex-wrap: wrap;
  background-color: #121212;
  color: #fff;
  padding: 1em .3em;
  min-height: 12vh;
}
footer .footer-text{
  font-size: 1.2em;
}
footer .footer-links {
  display: flex;
  gap:.5em;
  font-size: 1em;
}
.footer-link{
  color: inherit;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:active,
.footer-link:focus{
  opacity: .7;
}


@media screen and (min-width:700px) {

  nav{
    display: flex;
  }
  .sideBar{
    display: none;
  }
  .menu{
    display: none;
  }
}